<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <button class="back" (click)="goBack()"></button>
  <header
          [backgroundImage]="discount?.image"
          tint="rgba(0,0,0,0.65)"
          [fav]="discount?.user_fav"
          [favorite]="user ? true : false"
          (onSaveFav)="saveFav(discount)"
          (onShare)="doShare()"></header>
  <!-- ALEMAR -->
  <!-- [share]="discount?.share_url"
  [caption]="{text: (discount?.date_from ? (discount?.date_from | date:'d MMMM') : '') + (discount?.date_from && discount?.date_to ? ' / ' : '') + (discount?.date_to ? (discount?.date_to | date:'d MMMM') : ''),color: '#626262',backgroundColor: '#FFFFFF'}" -->

  <div class="ion-padding" *ngIf="discount">
    <h1 class="title full-line ion-text-uppercase">{{ discount.title }}</h1>

    <h2 class="subtitle option2 ion-text-uppercase">{{ discount.caption }}</h2>
    <p [innerHTML]="discount.description | nl2br"></p>
  </div>
</ion-content>