<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <span class="icon mall"></span>
    </ion-tab-button>
    <ion-tab-button tab="discounts">
      <span class="icon discount"></span>
    </ion-tab-button>
    <ion-tab-button tab="stores">
      <span class="icon store"></span>
    </ion-tab-button>
    <ion-tab-button tab="events">
      <span class="icon event"></span>
    </ion-tab-button>
    <ion-tab-button tab="free-bus">
      <span class="icon bus"></span>
    </ion-tab-button>
    <ion-tab-button (click)="openMenu()">
      <span class="icon menu"></span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>